<div class="week-list-container">
  <h2 style="color: green;">List týždňov v roku {{ currentYear }} do {{ currentDay }}. {{ currentMonth }}</h2>

  <div *ngFor="let week of weeks">
    <div class="week-entry">
      <span><strong>{{ week.week }}. týždeň </strong>({{ week.dateRange }})</span>

      <!-- Only show input for the current and future weeks -->
      <input *ngIf="week.week >= currentWeek && week.notes.length < maxNoteLength" [(ngModel)]="currentText"
        placeholder="Napíš jedlo" (keyup.enter)="addNoteToWeek(week.week, currentText)"
        [maxlength]="maxNoteTextLength" [disabled]="disableInput"/>
      <input *ngIf="week.week >= currentWeek && week.notes.length >= maxNoteLength"
        [(ngModel)]="currentText" placeholder="Maximum dosiahnuté" disabled class="input-warning"/>

      <div class="notes">
        <ul>
          <li *ngFor="let note of week.notes">
            <div *ngIf="note.text != week.won" [class]="haveVotedFor(note) || haveCreatedNote(note.creator) ? 'note-voted' : 'note'">

              <button *ngIf="week.week >= currentWeek && email === 'peterbartos17@gmail.com'"
                (click)="setWinNote(week.week, note.text)" class="vote-btn">
                <span (mouseenter)="showTooltip($event, 'uzatvoriť pre tento víkend')" (mouseleave)="hideTooltip()">☑️</span>
              </button>

              <button *ngIf="week.week >= currentWeek" (click)="voteForNoteFromWeek(week.week, note)"
                [class]="haveCreatedNote(note.creator) ? 'blocked-btn' : 'vote-btn'" [disabled]="haveCreatedNote(note.creator)">
                <span (mouseenter)="showTooltip($event, (note.voters.length + 1).toString(), 2)" (mouseleave)="hideTooltip()">🗳️</span>
              </button>

              <span (mouseenter)="showTooltip($event, note.creator, 1)" (mouseleave)="hideTooltip()">{{ note.text }}</span>

              <button *ngIf="week.week >= currentWeek" (click)="removeNoteFromWeek(week.week, note.text)"
                [class]="haveCreatedNote(note.creator) ? 'remove-btn': 'blocked-btn'" [disabled]="!haveCreatedNote(note.creator)">
                <span (mouseenter)="showTooltip($event, 'zmazať')" (mouseleave)="hideTooltip()">❌</span>
              </button>
              <span *ngIf="week.week < currentWeek" class="past-note"></span>
            </div>
            <div *ngIf="note.text === week.won" class="note-won">
              <span (mouseenter)="showTooltip($event, note.creator, 1)" (mouseleave)="hideTooltip()">{{ week.won }}</span>
              <button (mouseenter)="showTooltip($event, 'navarené')" (mouseleave)="hideTooltip()" class="remove-btn">✅</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Tooltip Element -->
  <div *ngIf="tooltipVisible" class="tooltip" [ngStyle]="{'top.px': tooltipY, 'left.px': tooltipX}">
    {{ tooltipText }}
  </div>
</div>
